/********** Flex **********/

.flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}
.column {
    flex-direction: column;
}
.column-reverse {
    flex-direction: column-reverse;
}
// justify
.justify-start {
    justify-content: start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}
// align items
.align-items-flex-start {
    align-items: flex-start;
}
.align-items-flex-end {
    align-items: flex-end;
}
.align-items-center {
    align-items: center;
}
.align-items-stretch {
    align-items: stretch;
}
.align-items-baseline {
    align-items: baseline;
}
// align content
.align-content-start{
    align-content: flex-start;
}
.align-content-end{
    align-content: flex-end;
}
.align-content-center{
    align-content: center;
}
.align-content-space-between{
    align-content: space-between;
}
.align-content-space-around{
    align-content: space-around;
}
.align-content-space-evenly{
    align-content: space-evenly;
}
// wrap
.wrap{
    flex-wrap: wrap;
}
.nowrap{
    flex-wrap: nowrap;
}
.wrap-reverse{
    flex-wrap: wrap-reverse;
}



/********** Grid **********/
.grid{
    display: grid;
}
.inline-grid{
    display: inline-grid;
}